<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>administrador/eliminarAsignatura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilos_interno.css') }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/letra UT.ico') }}" type="image/x-icon" />
</head>

<body>
    <!-- <div class="wrapper"> -->
    <!-- Sidebar Holder -->
    <nav class="menu__lateral">
        <div class="logo-header">
            <img src="{{ url_for('static', filename= 'img/logo_2.jpeg') }}" alt="logo" />
        </div>

        <ul class="components">
            <div class="main__links" style="margin-bottom: 17px">
                <li>
                    <a href="{{url_for('admin')}}"><i class="fas fa-user-circle"></i><span>Empleado</span></a
            >
          </li>
          <li>
            <a href="{{url_for('usuarios')}}"
              ><i class="fas fa-user-cog"></i
              ><span>Administrar Usuario</span></a
            >
            <ul style="list-style-image: url('img/cog-solid.svg')">
              <li>
                <a href="{{url_for('crearUsuarios')}}">Crear Usuario</a>
                </li>
                <li>
                    <a href="{{url_for('editarUsuarios')}}">Editar Usuario</a>
                </li>
                <li>
                    <a href="{{url_for('elimUsuarios')}}">Eliminar Usuario</a>
                </li>
        </ul>
        </li>
        <li>
            <a href="{{url_for('cursos')}}"><i class="fas fa-book"></i><span>Administrar Curso</span></a
            >

            <ul style="list-style-image: url('img/cog-solid.svg')">
              <li><a href="{{url_for('crearCursos')}}">Crear Curso</a></li>
        <li><a href="{{url_for('editarCurso')}}">Editar Curso</a></li>
        <li>
            <a href="{{url_for('elimCurso')}}">Eliminar Curso</a>
        </li>
        <li>
            <a href="{{url_for('crearAsignatura')}}">Crear Asignatura</a
                >
              </li>
              <li>
                <a href="{{url_for('editarAsignatura')}}"
                  >Editar Asignatura</a
                >
              </li>
              <li>
                <a href="{{url_for('elimAsignatura')}}" class="active"
                  >Eliminar Asignatura</a
                >
              </li>
            </ul>
          </li>
        </div>

        <div class="close__sesion">
          <li>
            <a href=""
              ><i class="fas fa-sign-out-alt"></i><span>Cerrar Sesion</span></a
            >
          </li>
        </div>
      </ul>
    </nav>

    <div class="content">
      <header class="header_interno">
        <h1>ELIMINAR ASIGNATURA</h1>
      </header>

      <div class="content__main">
        <form action="" class="form">
          <div class="input_buscar">
            <label for="" style="font-weight: bold">Buscar Asignatura</label>
            <input type="text" value="" class="input" />
            <input type="submit" value="Buscar" class="btn_input" />
          </div>
          <div class="cont_input">
            <label for="" class="label">
              <p>Nombre de Asignatura</p>
              <input
                type="text"
                name="name_usuario"
                id="name_usuario"
                class="input"
              />
            </label>
            <label for="" class="label">
              <p>Curso</p>
              <select name="cursos" id="cursos" class="input">
                <option value="Curso 1">Curso 1</option>
                <option value="curso 2">Curso 2</option>
                <option value="curso 3">Curso 3</option>
              </select>
            </label>
          </div>

          <div class="cont_input">
            <label for="" class="label">
              <p>&#8470; Creditos</p>
              <input type="number" name="doc" id="doc" class="input" />
            </label>
            <label for="" class="label">
              <p>Docente</p>
              <select name="" id="" class="input">
                <option value="docente1">Jhon Doe</option>
                <option value="docente2">Albert Einsten</option>
                <option value="docente3">Nicolas Tesla</option>
                <option value="docente2">Isaac Newton</option>
                <option value="docente3">Jhon Dalton</option>
              </select>
            </label>
          </div>

          <div class="cont_btn">
            <input type="submit" value="Eliminar" class="btn_input" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>