<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!--La siguiente url es para agregar el icono de la vista estudiante-->
    <!--  <script src="https://kit.fontawesome.com/9fce0c215d.js" crossorigin="anonymous"></script> -->

    <title>estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilos_interno.css') }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/letra UT.ico') }}" type="image/x-icon" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav class="menu__lateral">
            <div class="logo-header">
                <img src="{{ url_for('static', filename= 'img/logo_2.jpeg') }}" alt="" />
            </div>

            <ul class="components">
                <div class="main__links" style="margin-bottom: 318px">
                    <li>
                        <a href="{{url_for('estudiante')}}" class="active"><i class="fas fa-user-circle"></i><span>Estudiante</span></a
              >
            </li>
            <li>
              <a href="{{url_for('estudianteCurso')}}"
                ><i class="fas fa-book"></i><span>Cursos</span></a
              >
            </li>
            <li>
              <a href="{{url_for('estudianteCalificaciones')}}"
                ><i class="fas fa-clipboard-check"></i
                ><span>Calificiones</span></a
              >
            </li>

            <li>
              <a href="{{url_for('estudianteActividades')}}"
                ><i class="fas fa-edit"></i><span>Actividades</span></a
              >
            </li>
          </div>

          <div class="close__sesion">
            <li>
             <a href="{{url_for('logout')}}"
              ><i class="fas fa-sign-out-alt"></i>
              <span>Cerrar Sesion</span></a
              > 
            </li>
          </div>
        </ul>
      </nav>

      <div class="content">
        <div class="content__main">
          <!-- TRABAJE SU HTML AQUI -->

          <table class="table_usuario">
            <caption>
              <button class="icono_usuario">
                <i class="fas fa-user-circle"></i>
              </button>
              <span class="usuario">{{datos.nombre}} {{datos.apellido}}</span>
            </caption>

            <tr>
              <td>Usuario</td>
              <td>{{usuario}}</td>
            </tr>
            <tr>
              <td>Dirección de Correo Electrónico</td>
              <td>{{datos.correo}}</td>
            </tr>
            <tr>
              <td>ID Estudiante</td>
              <td>{{datos.id_estudiante}}</td>
            </tr>
            <tr>
              <td>Contraseña</td>
              <td><a href="">Cambio de Contraseña</a></td>
                        </tr>
                        </table>
                </div>
    </div>
    </div>
</body>

</html>